/* Marvell Peridot (MV88E6390X) Development Board */

&peridot_db {
	compatible = "usb1286,1fa4";

	#address-cells = <1>;
	#size-cells = <0>;

	sc0: switch@0 {
		compatible = "marvell,mv88e6190";
		status = "ok";
		reg = <0x0>;

		dsa,member = <0 0>;
		dsa,num_tx_queues = <8>;
		interrupt-controller;
		#interrupt-cells = <2>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0x0>;
				label = "cpu0";
				ethernet = <&fec1>;

				/* Port0 is connected to a 1518 PHY like
				below, but the DSA driver will not handle
				this configuration properly. The driver
				will configure all CPU/DSA ports as fixed
				links; the generic DSA code will then bring
				the link down to match phylink's
				expectations on initial state. The port
				will then be forced down and never come
				up. Omitting PHY info will leave it forced
				up which, while not Right(tm), does
				work. */
				/* phy-handle = <&sc0_phy0>; */
				/* phy-mode = "rgmii"; */
			};

			port@1 {
				reg = <0x1>;
				label = "eth1";
				phy-handle = <&sc0_phy1>;
				phy-mode = "gmii";
			};
			port@2 {
				reg = <0x2>;
				label = "eth2";
				phy-handle = <&sc0_phy2>;
				phy-mode = "gmii";
			};
			port@3 {
				reg = <0x3>;
				label = "eth3";
				phy-handle = <&sc0_phy3>;
				phy-mode = "gmii";
			};
			port@4 {
				reg = <0x4>;
				label = "eth4";
				phy-handle = <&sc0_phy4>;
				phy-mode = "gmii";
			};
			port@5 {
				reg = <0x5>;
				label = "eth5";
				phy-handle = <&sc0_phy5>;
				phy-mode = "gmii";
			};
			port@6 {
				reg = <0x6>;
				label = "eth6";
				phy-handle = <&sc0_phy6>;
				phy-mode = "gmii";
			};
			port@7 {
				reg = <0x7>;
				label = "eth7";
				phy-handle = <&sc0_phy7>;
				phy-mode = "gmii";
			};
			port@8 {
				reg = <0x8>;
				label = "eth8";
				phy-handle = <&sc0_phy8>;
				phy-mode = "gmii";
			};
		};

		mdio {
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&sc0>;

			sc0_phy1: ethernet-phy@1 { reg = <1>; };
			sc0_phy2: ethernet-phy@2 { reg = <2>; };
			sc0_phy3: ethernet-phy@3 { reg = <3>; };
			sc0_phy4: ethernet-phy@4 { reg = <4>; };
			sc0_phy5: ethernet-phy@5 { reg = <5>; };
			sc0_phy6: ethernet-phy@6 { reg = <6>; };
			sc0_phy7: ethernet-phy@7 { reg = <7>; };
			sc0_phy8: ethernet-phy@8 { reg = <8>; };
		};

		mdioe {
			compatible = "marvell,mv88e6xxx-mdio-external";
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&sc0>;

			sc0_phy0: ethernet-phy@0 { reg = <0>; };
		};

	};
};
