/dts-v1/;

#include "at91-sama5d27_som1_ek.dts"

&i2c3 {
        switch@24 {
		compatible = "arrow,xrs7004e";
		reg = <0x24>;

		ethernet-ports {
			#address-cells = <1>;
			#size-cells = <0>;

			ethernet-port@0 {
				reg = <0>;
				label = "cpu";
				ethernet = <&macb0>;

				phy-handle = <&xrsphy0>;
				phy-mode = "rmii";
				/* fixed-link { */
				/* 	speed = <1000>; */
				/* 	full-duplex; */
				/* }; */
			};


			ethernet-port@1 {
				reg = <1>;
				label = "eth1";
				phy-handle = <&xrsphy1>;
				phy-mode = "rgmii-id";
			};

			ethernet-port@2 {
				reg = <2>;
				label = "eth2";
				phy-handle = <&xrsphy2>;
				phy-mode = "rgmii-id";
			};

			ethernet-port@3 {
				reg = <3>;
				label = "eth3";
				phy-handle = <&xrsphy3>;
				phy-mode = "rgmii-id";
			};
		};
	};
};

/ {
	aliases {
		mdio-gpio1 = &xrsmdio1;
		mdio-gpio2 = &xrsmdio2;
	};

	xrsmdio1: xrsmdio1 {
		compatible = "virtual,mdio-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = <&pioA PIN_PC30 GPIO_ACTIVE_HIGH>, <&pioA PIN_PD0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_xrsmdio1_default>;

		xrsphy2: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
		};
		xrsphy1: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
		};
		xrsphy0: ethernet-phy@5 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <5>;
		};
	};

	xrsmdio2: xrsmdio2 {
		compatible = "virtual,mdio-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = <&pioA PIN_PC28 GPIO_ACTIVE_HIGH>, <&pioA PIN_PC29 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_xrsmdio2_default>;

		xrsphy3: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
		};
	};
};

&pioA {
	pinctrl_xrsmdio1_default: xrsmdio1_default {
		pinmux = <PIN_PC30__GPIO>, <PIN_PD0__GPIO>;
		bias-pull-up;
	};
	pinctrl_xrsmdio2_default: xrsmdio2_default {
		pinmux = <PIN_PC28__GPIO>, <PIN_PC29__GPIO>;
		bias-pull-up;
	};
};

&spi6 {
	/* Used for MDIO1/2 on XRS EVK */
	status = "disabled";
};
