#include <common/mv6.h>

#include "a-common.dtsi"

&mdio0 {
	agate: switch@4 {
		compatible = "marvell,mv88e6085";
		reg = <0x4>;

		dsa,member = <0 0>;
		dsa,num_tx_queues = <8>;

		interrupts = <2 1 0 0>;
		interrupt-parent = <&mpic>;
		interrupt-controller;
		#interrupt-cells = <2>;

		ports {
			#address-cells = <0x1>;
			#size-cells = <0x0>;

			dsa02: port@4 {
				reg = <0x4>;
				label = "dsa";
				link = <&dsa20>;
				phy-mode = "sgmii";

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			dsa01: port@5 {
				reg = <0x5>;
				label = "dsa";
				link = <&dsa10>;
				phy-mode = "rgmii-id";

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			port@6 {
				reg = <0x6>;
				label = "cpu0";
				ethernet = <&fm1mac4>;
				phy-mode = "rgmii-id";

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			mv6_port(0, "ethX6" , &aphy0, "gmii");
			mv6_port(1, "ethX7" , &aphy1, "gmii");
			mv6_port(2, "ethX14", &aphy2, "gmii");
			mv6_port(3, "ethX8" , &aphy3, "gmii");
		};

		mdio {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			interrupt-parent = <&agate>;

			aphy0: mv6_phy(0);
			aphy1: mv6_phy(1);
			aphy2: mv6_phy(2);
			aphy3: mv6_phy(3);
		};
	};

	opal1: switch@1 {
		compatible = "marvell,mv88e6085";
		reg = <0x1>;

		dsa,member = <0 1>;
		dsa,num_tx_queues = <4>;

		interrupts = <3 1 0 0>;
		interrupt-parent = <&mpic>;
		interrupt-controller;
		#interrupt-cells = <2>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			dsa10: port@a {
				reg = <0xa>;
				label = "dsa";
				link = <&dsa01 &dsa20>;
				phy-mode = "rgmii";

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			mv6_port(0, "ethX5" , &o1phy0, "mii");
			mv6_port(1, "ethX11", &o1phy1, "mii");
			mv6_port(2, "ethX12", &o1phy2, "mii");
			mv6_port(3, "ethX13", &o1phy3, "mii");
			mv6_port(4, "ethX17", &o1phy4, "mii");
			mv6_port(5, "ethX18", &o1phy5, "mii");
			mv6_port(6, "ethX19", &o1phy6, "mii");
			mv6_port(7, "ethX20", &o1phy7, "mii");
		};

		mdio {
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&opal1>;

			o1phy0: mv6_phy(0);
			o1phy1: mv6_phy(1);
			o1phy2: mv6_phy(2);
			o1phy3: mv6_phy(3);
			o1phy4: mv6_phy(4);
			o1phy5: mv6_phy(5);
			o1phy6: mv6_phy(6);
			o1phy7: mv6_phy(7);
		};
	};

	opal2: switch@3 {
		compatible = "marvell,mv88e6085";
		reg = <0x3>;

		dsa,member = <0 2>;
		dsa,num_tx_queues = <4>;

		interrupts = <0 1 0 0>;
		interrupt-parent = <&mpic>;
		interrupt-controller;
		#interrupt-cells = <2>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			dsa20: port@a {
				reg = <0xa>;
				label = "dsa";
				link = <&dsa02 &dsa10>;
				phy-mode = "sgmii";

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			mv6_port(0, "ethX2" , &o2phy0, "mii");
			mv6_port(1, "ethX4" , &o2phy1, "mii");
			mv6_port(2, "ethX1" , &o2phy2, "mii");
			mv6_port(3, "ethX3" , &o2phy3, "mii");
			mv6_port(4, "ethX10", &o2phy4, "mii");
			mv6_port(5, "ethX9" , &o2phy5, "mii");
			mv6_port(6, "ethX15", &o2phy6, "mii");
			mv6_port(7, "ethX16", &o2phy7, "mii");
		};

		mdio {
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&opal2>;

			o2phy0: mv6_phy(0);
			o2phy1: mv6_phy(1);
			o2phy2: mv6_phy(2);
			o2phy3: mv6_phy(3);
			o2phy4: mv6_phy(4);
			o2phy5: mv6_phy(5);
			o2phy6: mv6_phy(6);
			o2phy7: mv6_phy(7);
		};
	};
};
