#!/bin/sh
# This script assumes the location of the file 'defs.m4', which is used
# to set up defaults for m4 and possibly local variables.

inc=""
def=$(dirname "$0")/../configs/include/defs.m4

usage()
{
    echo "Usage: $(basename "$0") [opts] foo_defonfig.m4"
    echo
    echo " -d dir  Base directory for foo_defconfig.m4 files"
    echo " -h      This help text"
    echo " -i dir  Include directory, multiple -i allowed"
    echo
    echo "M4FLAGS  Optional environment variable for extra m4 args."
    echo "M4PATH   Instead of '-i dir' to define include paths."

    exit "$1"
}

fail()
{
    echo "$@"
    exit 1
}

# shellcheck disable=SC2086
generate()
{
    cat $def "$1" | m4 $inc -
}

while [ "$1" != "" ]; do
    case $1 in
	-d)
	    cd "$2" || fail "Failed changing to directory $2!"
	    shift
	    ;;
	-h)
	    usage 0
	    ;;
	-i)
	    inc="$inc -I $2"
	    shift
	    ;;
	*)
	    break
    esac
    shift
done

generate "$1"
