[Unit]
Description=Simple Service Discovery Protocol daemon (UPnP)
Documentation=man:ssdpd
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/sbin/ssdpd -sn

[Install]
WantedBy=multi-user.target
